[ghq]
	root = /home/tantan/ghq
[user]
	email = htoshi1444@gmail.com
	name = Hyd3-14
[credential]
	helper =
	useHttpPath = true
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
[include]
	path = ~/ghq/github.com/Hyd3-14/my-toolbox/git/.gitconfig_global
[alias]
; cleanup: マージ済みのブランチを削除するコマンド
    cleanup = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D"
[rebase]
	autoStash = true
